.sectionUm{  
    margin-bottom: 100px;
    padding: 100px;
}
.sectionDois{
    margin-top: 100px;
    padding: 100px;
    background-color: gray;
    color: aliceblue;
}
.sectionTres{
    margin-top: 100px;
    padding: 100px;
}
.sectionQuatro{
    margin-top: 100px;
    padding: 100px;
    background-color: gray;
    color: aliceblue;
}
#imgConhecimentos{
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px black;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
 

}